#sm_plots {
    text-align: center;
    padding: 10px;
    color: #fff;
}
#sm_plots_sel {
    text-align: center;
    background-color: rgba(91, 14, 214, 0.6);
    padding: 10px;
    color: #fff;
}

#comp_plots {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: rgba(33, 8, 73, 0.6);
}

.gradient-custom {
    background: linear-gradient(45deg,
    rgba(29, 205, 236, 0.726),
    rgba(91, 14, 214, 0.6) 100%);
}

h2 {
    color:aqua; 
}

h3 {
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 50px; 
    color:aqua;     
}

.summary_text {
    color:aqua;
    font-weight: bolder;
}

p {
    padding-top: 10px; 
    margin-left : 10px;
    margin-right: 20px;
}

body {
    background-image: url('Images/globe-image.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#data_table {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: large;
    font-weight:bolder;
}